.board {
  position: relative;
  aspect-ratio: 1 / 1;
  width: min(90vw, 660px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--pixel-size) * 1);
  /* border: calc(var(--pixel-size) * 0.5) solid var(--button-background); */
}

.grid {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  /* grid-template-columns: repeat(var(--board-size), 1fr); */
  /* grid-template-rows: repeat(var(--board-size), 1fr); */
  gap: 12px;
  margin: 12px;
  /* background: var(--secondary-background); */
  border-radius: calc(var(--pixel-size) * 0.75);
}

.cell {
  width: 100%;
  height: 100%;
  border-radius: calc(var(--pixel-size) * 0.5);
  background: var(--cell-background);
}

/* tiles layer sits above the grid */
.tiles {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  border: calc(var(--pixel-size) * 0.5) solid var(--button-background);
}
